//paleta de colores
$azul: #122348;
$amarillo:#EFB810;
$azulClaro:#38B6FF;
$amarilloClaro:#FFD359;
$negroTransparente: rgba(0,0,0,.4);
$azulTransparente:rgba($azul,.9);
$blanco:#ffffff;
$azulBlanco: #F7FDFB;
$rojo:#dc3545;

//fuente
$fuentePrincipal:'Poppins', sans-serif;


//tamaños media Queries
$telefono:280px;
$tablet:768px;
$tabletAncha: 540px;
$escritorio:1200px;

//fuente
$delgada:300;
$regular:400;
$bold:700;

//separacion
$separacion:5rem;