.contenido-servicio{
    @include grid(2,1fr);
}
.lista-beneficios{
    .beneficio{
        display:flex;
    }
}
.imagen-beneficio{
 
    img{
        width:10rem;
    }
}
.texto-beneficio{
    margin-right: 2rem;
}