.banner-nosotros{
    @include banner-bg-imagen( url(/build/img/nosotros.jpg));
    background-position: right;
    background-attachment: unset;
    @include difuminado-transparente($negroTransparente);
    padding-top: 10rem;
    height: 45rem;
    @include tablet{
        background-attachment: fixed;
        background-position: top;
        padding-top: 5rem;
        height: 90rem;
    }
    @include escritorio{
        height: 65rem;
    }
}

.texto-banner-nosotros{
   @include texto-bg-transparente;
   h1{
       width: 100%;
       text-align: center;
   }
   @include tablet{
       width: 50%;
       text-align: left;
   }
  
}
.vista-conocenos{
    overflow: hidden;
    padding: 5rem;
}
.contenedor-conocenos{
    display: flex;
    flex-direction: column;
    .texto-conocenos{
        order: 2;

    }
    @include tablet{
        .texto-conocenos{
            order: unset;
        }
        @include grid(2,1fr);
        gap: 2rem;


        .mover-imagen{
            
            grid-row: 1/2;
        }
    }
}
.imagen-conocenos{
    @include tablet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            transition: all .3s ease;
            
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    @include escritorio{
        display: unset;
    }
    
}

.texto-conocenos{
    h2{
        color:$azul;
       
       
        @include adorno-texto(1rem);
    }
    p{
        
        color: $azul;
        text-align: center;
        @include tablet{
            text-align: left;
        }

        @include escritorio{
            text-align: justify;
        }
        
    }
}

.contenido-filosofia{
    overflow: hidden;
    @include tablet{
        @include grid(2,1fr);
    }
}
.contenedor-texto-filosofia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.contenido-texto-filosofia{
    margin-right:0;
    @include tablet{
        margin-right: 2rem;
    }
    h2{
        color: $azul;
        text-align: center;
        @include tablet{
            text-align: left;
        }
        &:first-of-type{
            margin-top: 0;
        }

        @include adorno-texto(1rem);
    }
    p{
        color: $azul;
        text-align: center;
    }
    @include tablet{
        p{
            text-align: left;
           
        }
    }
   

    
    .ultimo-filosofia{
        margin-bottom: 0;
        padding-bottom: 5rem;
    }
    
}

.imagen-filosofia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .frase-filosofia{
        p{
            color: rgba($azul, .5);
            font-style: italic;
            text-align: center;
        }

        @include tablet{
           p{
               text-align: left;
           }
        }
    }
}

/*Valores*/

.contenido-valores{
    overflow:hidden;
    @include escritorio{
        @include grid(3,1fr);
    }
 }
 .icono-plus{
     transition: .3s ease all;
    &:hover{
        cursor:pointer;
        color: $amarillo !important;
    }
 }
 .texto-izquierda{
     transition: all .3s ease-in-out;
     display: flex;
     align-items: center;
     img{
         margin-right: 1rem;
        
     }
        
     
 }

 .parrafo-derecha{
   @include escritorio{
    text-align: right;
   }
 }
 .texto-derecha{
    display:flex;
    text-align: left;
   @include escritorio{
    text-align: right;
    display: block;
   }
   

    &:hover{
        cursor: pointer;
        
    }
   
    img{
        margin-right: 1rem;
        order: -1;
        @include escritorio{
            margin-left: 1rem;
        }
    }
 }
.icono-plus{
   font-size: 2rem;
    @include tablet{
        font-size: 3rem;
    }
 
}
.ocultar-parrafo{
   display: none;
}
//le agregamos la clase 
.contenedor-padre.activar .ocultar-parrafo{
    display: block;
    animation: slide .5s;
   
}
.contenedor-padre img{
    transition: all .3s ease-in-out;
}

//rotamos la imagen del signo de mas 45 grados, para que parezca una cruz
.contenedor-padre.activar img{
    
    transform: rotate(45deg);
   
}

.valores{

    .valor{
      
        margin-bottom: 4rem;
        @include tablet{
            margin-bottom: 0;

         
        }
        h3{
            color: $azul;
            width: 100%;
        }  
        p{
            margin-left: 2.2rem;
            color: $azul;
            transition: all .3s ease;
        }
           
    }
}

.valores-imagen{
    transition: .3s ease all;
    @include tablet{
        display: flex;
        justify-content: center;
        img{
            width: 80%;
        }
    }
    @include escritorio{

        img{
            width: 100%;
            transition: all .3s ease;
            &:hover{ 
                transform: scale(1.2);
            }
           
        }
      
       
    }
    
   
}

