.vista-servicios{
    @include banner-bg-imagen( url(/src/img/banner_servicios.jpg));
    @include difuminado-transparente($negroTransparente);
  
}

.texto-vista-servicios{
   @include texto-bg-transparente;
}

//boton de contratar
.boton-contratar-servicio{
    margin-top: 5rem;
    button{
        font-size: 2rem;
        border: none;

        &:hover{
            cursor: pointer;
        }
    }
}
.contenedor-menu-servicios{
    padding: $separacion;
    margin-top: 5rem;
    @include tablet{
        @include grid(2,1fr);
        gap: 1rem;
    }
    @include escritorio{
        @include grid(4,1fr);
        column-gap: 1rem;
        
    }
    
}
.menu-servicio{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    @include tablet{
        margin-bottom: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    border: 1px solid $azul;
    height: 10rem;
    @include tablet{
        height: 17rem;
    }
    @include escritorio{
        height: 20rem;
    }
    opacity: .5;
    background-color: $azulBlanco;
    svg{
        transition: all .3s ease;
         width: 6.4rem;
         height: 6.4rem;
        @include tablet{
            width: 8.4rem;
            height: 8.4rem;
        }
        @include escritorio{
            width: 10rem;
             height: 10rem;
        }
    
    }
    p{
        font-size: 1.8rem;
        @include tablet{
            font-size: 2.2rem;
            display: none;
        }
        color: $azul;
        animation: slide .3s ease;
    }
    &:hover{
        opacity: 1;
        cursor: pointer;
        path{
            fill: $amarillo;
        }
        svg{
            transform: scale(1.2);
        }
        p{
            display: block;
           
        }
    }
    
}
.servicio-activo{
        border: 1.5px solid $amarillo;
        opacity: 1;
        cursor: pointer;
        path{
            fill: $amarillo;
        }
        svg{
            transform: scale(1.2);
        }
        p{
            display: block;
           
        }
    
}
@keyframes slideX{
    0%{
     
        transform: scale(1.1);
        transform: translateX(-100%);
        
    }
    100%{
        
        // transform: scale(1);
        transform: translateX(0);
        
    }
  }
.contenedor-descripcion-servicios{
    overflow: hidden;
    padding: 0 $separacion;
}
.descripcion-servicio{
    animation: slideX .3s ease;
    
   display: none;
   justify-content: space-between;
}
.descripcion-activa{
    overflow: hidden;
    animation: slideX .3s ease;
    display: grid;
    .descripcion-imagen-servicio{
        grid-row: 1/2;
    }
    grid-template-columns: 1,1fr;
    @include tablet{
        display: flex;
    }
}

.descripcion-texto-servicio{
    padding: 1rem;
     p{
         color: $azul;
         font-size: 2rem;
       
         
     }
}
.ventajas-servicios{
    padding-left:0;

    li{
       color: $amarillo; 
       display: flex;
       list-style: none;
    }
    p{
        color: $azul;
        margin: 1rem 0;
        font-size: 2rem;

    }
    path{
        fill: $amarillo;
    }
    svg{
        margin-right: 1rem;
        width: 2rem;
        order: -1;
    }
}
.descripcion-texto-servicio, .descripcion-imagen-servicio{
    flex:0 0  calc(50% - 1rem);
}
.descripcion-imagen-servicio{
    padding: 1rem;
  
  
    @include tablet{
        display: flex;
        align-items: center;
        img{
            height: 50rem;
        }
    }
    @include escritorio{
        display: flex;
        justify-content: center;
        img{
            height: 55rem;
        }
    }
}